body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;  
  align-items: center;      

  background: #ffdbd1;         
  color: white;
  font-family: Arial, sans-serif;
}



.page-center {
  width: 100%;
  max-width: 600px;   
  text-align: center; 
  padding: 20px;
}
button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}

{
  width: 100%;
  max-width: 400px;  
  height: auto;
  margin: 20px auto;
  display: block;
}

.button-74 {
  font-family: "Ribeye", serif;
  background-color: #fbeee0;
  border: 2px solid #974141;
  border-radius: 30px;
  box-shadow: #974141 4px 4px 0 0;
  color: #974141;
  cursor: pointer;
  display: block;        
  width: 100%;           
  font-weight: 600;
  font-size: 18px;
  padding: 12px 18px;    
  text-align: left;      
  user-select: none;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #974141 2px 2px 0 0;
  transform: translate(2px, 2px);
}
#quiz-page img {
  width: 100%;
  max-width: 300px;   
  height: auto;
  margin: 10px auto;
  display: block;
}
#result {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
}
#startup-gif {
  width: 100%;
  max-width: 500px;   
  height: auto;
  margin: 15px auto 25px auto;
  display: block;
}
.question-text {
  font-family: "Ribeye", serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color:#974141;

}
#result-image {
  max-width: 80%;
  max-height: 60vh; 
  height: auto;
  object-fit: contain;
}
#category-page h2 {
  font-family: "Sarina", cursive; 
  font-size: 28px;               
  color: #974141;               
  margin-bottom: 20px;
  text-align: center;           
}
.result-text {
  font-family: "Ribeye", serif;
  font-size: 24px;
  margin-bottom: 20px;
  color:#974141;
}
#result h4 {
  color: #422800; 
  text-align: center;   
  margin-top: 10px;
}
#category-page h4 {
  color: #422800; 
  text-align: center;   
  margin-top: 10px;
}


@media (max-width: 600px) {

  .page-center {
    max-width: 95%;
    padding: 25px;
  }

  .question-text {
    font-size: 28px;
  }

  .button-74 {
    font-size: 22px;
    padding: 18px;
  }

  #category-page h2 {
    font-size: 32px;
  }

  #result h2 {
    font-size: 30px;
  }

  #result h4 {
    font-size: 18px;
  }

  #quiz img {
    max-width: 85%;
  }

  #result-image {
    max-width: 95%;
    max-height: 60vh;
  }
}


